design/projects/index.html

Site Copy/
*.psd

assets/images/albers-pong/Screen Shot 2017-12-27 at 2.57.16 AM.png

assets/images/albers-pong/Screen Shot 2017-12-27 at 3.00.15 AM.png

assets/images/albers-pong/Screen Shot 2017-12-27 at 3.00.18 AM.png

*.ai

assets/images/visualizing-emotion/michal-grosicki-235026.jpg

assets/images/personal-website/jelias.me.png

assets/images/albers-pong/start.png

assets/images/design-challenges/Envelope.png

assets/images/torrmote/app-screen.png

assets/images/design-challenges/mac/Apple.pdf

assets/images/design-challenges/mac/Macintosh.pdf

assets/images/design-challenges/mac/Square.pdf

assets/images/torrmote/screens/App.pdf

assets/images/torrmote/screens/Login.pdf

assets/images/torrmote/screens/Select.pdf

assets/images/torrmote/Torrmote Process.png

assets/images/visualizing-emotion/samuel-zeller-379406.jpg

assets/images/visualizing-emotion/prestige-composition-original.jpg

design/projects/
design/projects/torrmote
assets/images/torrmote/

assets/images/albers-pong/other/
*.gifcask

assets/images/personal-website/Scan 2.pdf

assets/images/personal-website/Scan 1.pdf

assets/images/visualizing-emotion/other/Scan.pdf

assets/images/visualizing-emotion/other/Sketches.jpg

.brackets.json
