design/projects/index.html

Site Copy/
*.psd

assets/images/albers-pong/Screen Shot 2017-12-27 at 2.57.16 AM.png

assets/images/albers-pong/Screen Shot 2017-12-27 at 3.00.15 AM.png

assets/images/albers-pong/Screen Shot 2017-12-27 at 3.00.18 AM.png

*.ai

assets/images/visualizing-emotion/michal-grosicki-235026.jpg

assets/images/personal-website/jelias.me.png

assets/images/albers-pong/start.png

assets/images/design-challenges/Envelope.png

assets/images/torrmote/app-screen.png
