// Base styling for jelias.me

// fonts
$sans-font:    Chivo, Helvetica, sans-serif;
$serif-font: Spectral, Times, serif;

// main colors
$off-black: #2d2d2d;
$off-white: #f8f8f8;
$dark-gray: #939598;
$light-gray: #c7c8ca;
// other colors
$highligher-yellow: #fefbd8;
$link-hover: #3e69c4;

// modular scale setup

$modularscale: (
  base: 1.188em, // 19px = 1.188em?
  ratio: 1.1321, // 40@6
  40em: ( // small screens
    base: 1em,
    ratio: 1.1321,
  ),
  52em: ( // medium screens
    base: 1.188em,
    ratio: 1.1321,
  ),
  64em: ( // large screens
    base: 1.188em,
    ratio: 1.1321,
  ),
);

// typi setup

$breakpoints: (
  small: 40em,
  large: 64em
);

$typi: (
  base: (
    null: (ms(0), 2),
    small: (ms(0), 1.875),
    large: (ms(0), 2)
  )
);



// styles start

@include scrollbar(.95em, $off-black, $light-gray);

body {
  background-color: $off-white;
  border: 3px solid $off-black;
  color: $off-black;
  margin: 25px;
  // position: absolute;
}

%boarder-elements {
  background-color: $off-white;
  margin-left: 65px;
  margin-right: 65px;
  padding: 10px;
  width: fit-content;
}

nav {
  @extend %boarder-elements;
  float: right;
  margin-top: -22px;

  a {
    @extend %heading-type;
    font-size: ms(-1);
    margin-inline-end: 10px;
    margin-inline-start: 10px;
    text-decoration: none;
  }
}

.active-nav {
  border-bottom: $off-black solid 2px;
  text-decoration: none;
}

footer {
  @extend %boarder-elements;
  float: left;
  margin-top: -19px;

  a {
    @extend %heading-type;
    font-size: ms(-1.2);
    margin-inline-end: 10px;
    margin-inline-start: 10px;
    text-decoration: none;
  }
}

.main-page {
  margin-bottom: 66px;
  margin-top: 40px;
}

// headings
%heading-type {
  @include ms-respond(margin-bottom, 1.2);
  color: $off-black;
  font-family: $sans-font;
  font-weight: 400;
  letter-spacing: 1.4px;
  line-height: 1.2em;
  margin-bottom: vr(1.5); // 1.5 baselines (base font size * line-height)
  text-transform: uppercase;
}

h1 {
  @extend %heading-type;
  @include ms-respond(font-size, 6);
}

h2 {
  @extend %heading-type;
  @include ms-respond(font-size, 5);
}

h3 {
  @extend %heading-type;
  @include ms-respond(font-size, 4);
}

h4 {
  @extend %heading-type;
  @include ms-respond(font-size, 3);
}

h5 {
  @extend %heading-type;
  @include ms-respond(font-size, 2);
}

h6 {
  @extend %heading-type;
  @include ms-respond(font-size, 1);
  // line-height: 1.6em;
  // margin-bottom: 5px;
}

.guide-descriptor {
  @include ms-respond(font-size, -6.5);
  font-family: $sans-font;
  font-style: normal;
}

small,
.small {
  @extend %heading-type;
  // @include ms-respond(font-size, -2);
  font-size: ms(-2);
  font-style: normal;
  letter-spacing: 0;
  text-transform: capitalize;
}

// body copy
p {
  // @include ms-respond(font-size, 0);
  @include ms-respond(margin-bottom, 1.2);
  font-family: $serif-font;
  font-size: ms(0);
  line-height: 1.875em;
  margin-bottom: vr(1);
}

.quote {
  background-color: $highligher-yellow;
  display: inline;
  font-style: italic;
  font-weight: 400;
  padding: .25em;
}

// Padding for inline highlights. See https://codepen.io/hotmeteor/pen/ibvJs
// .quote-wrap {
//   // position: relative;
//   left: $title-pad;
//   padding-left: 0;
//   box-shadow: $title-pad 0 0 $highligher-yellow,
//               $title-pad*-1 0 0 $highligher-yellow;
//
// }

strong,
b {
  font-weight: 600;
}

blockquote {
  p {
    @include ms-respond(font-size, .45);
    font-style: italic;
    font-weight: 700;
    line-height: 36px;
  }
}

// .caption {
//   font-family: $sans-font;
//   font-size: 15px;
//   font-style: normal;
//   line-height: 18px;
// }

a {
  color: $dark-gray;

  &:hover {
    color: $link-hover;
  }
}

.journal-day {
  @include ms-respond(font-size, -1);
  font-family: $sans-font;
  font-style: normal;

  &::after {
    content: '.' attr(data-tooltip) '\A' attr(data-tooltip);
    white-space: pre;
      }
}

%thought-bullets {
  font-family: $sans-font;
  font-size: ms(0);
  // font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.new-thought {
  @extend %thought-bullets;
  color: $off-black;
}

.connected-thought {
  @extend %thought-bullets;
  color: $light-gray;
}

%lists {
  // @include ms-respond(font-size, 0);
  @include ms-respond(margin-bottom, 1.2);
  font-family: $serif-font;
  font-size: ms(0);
  line-height: 1.875em;
  margin-bottom: vr(1);
}

ul {
  @extend %lists;
  list-style-type: none;
  margin-left: 0;
  padding-left: 1.5em;
  position: relative;

  li {

    &::before {
      content: '–';
      font-family: $sans-font;
      left: 0;
      margin-top: 1px;
      position: absolute;
    }
  }
}

ol {
  @extend %lists;
  counter-reset: item;
  list-style: none;
  padding-left: 0;

  li {
    counter-increment: item;
    margin-bottom: 1px;

    &::before {
      content: counter(item, decimal-leading-zero) '.';
      font-family: $sans-font;
      font-size: ms(-2);
      margin-right: 10px;
     }
  }
}
