
.projects {
  @include center;
  margin-bottom: 16.5em;
  margin-top: 4em;
}

.project-list {
  @include column(2/10);
  width: fit-content;

  margin-top: 1.625em;

  a {
    text-decoration: none;
  }
}

.project-gap {
  @include column(4/10);
}

.project-thumbnail {
  @include column(4/10);
  float: right;
  position: relative;


  img {
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    visibility: hidden;
  }
}

.hover {
  li {
    background-color: $off-black;
    color: $off-white;
    width: fit-content;
  }
}

.project-link {

  li {
    @extend %heading-type;
    @include ms-respond(font-size, 1);
    margin-right: 10px;
    text-decoration: none;
    width: fit-content;

    &::before {
      content: none;
     }
  }
}

.gallery {
  // @include column(1/3, $cycle: 2);
  column-count: 3;
  column-gap: .5em;
  img {
    margin-top: 0;
    margin-bottom: .25em;
  }
}
