
.projects {
  @include center;
  margin-bottom: 16.5em;
  margin-top: 4em;
}

.project-list {
  @include column(2*0.1);
  margin-top: 1.625em;
  width: fit-content;

  a {
    text-decoration: none;

    li {
      margin-left: -12px;
      padding: 12px;
      // padding-bottom: 0px;
      }

    // &:hover {
    //   .one-liner {
    //
    //   text-decoration: none;
    //   // left: 105%;
    //   }
    // }

    }

  // .one-liner {
  //   position: relative;
  //   top: -63px;
  //   left: 100%;
  // }

}

.project-gap {
  @include column(4*0.1);
}

.project-thumbnail {
  @include column(4*0.1);
  float: right;
  position: relative;

  img {
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    // visibility: hidden;
    opacity: 0;
    // transition: .01s;
  }

  .hover {
    // visibility: visible;
    opacity: 100;
    // transition: .2s;
    // transition-timing-function: ease;
  }
}


.hover {

  li {
    // @include shutter-out-horizontal();
    background-color: $off-black;
    color: $off-white;
    transition: .5s;
    width: fit-content;

    // &::after {
    //   background: $off-black;
    //   content: '';
    //   display: block;
    //   height: 3px;
    //   // margin: 10px;
    //   position: relative;
    //   width: 350%;
    //   left: 110%;
    //   bottom: 0;
    //   // opacity: 1;
    //   // z-index: z('above');
    //   transition: .5s;
    // }
  }

}

//
// img .hover {
//   transition: .5s;
//   // opacity: 100%;
// }

.project-link {

  li {
    @extend %heading-type;
    @include ms-respond(margin-bottom, -2);
    @include ms-respond(font-size, 1);
    // margin-right: 10px;
    text-decoration: none;
    width: fit-content;

    &::before {
      content: none;
     }
  }
}

.gallery {
  // @include column(1/3, $cycle: 2);
  column-count: 3;
  column-gap: .5em;

  img {
    margin-bottom: .25em;
    margin-top: 0;
  }
}

.design-bio {
  margin-bottom: -10px;
  margin-left: 4%;
  margin-right: auto;
  margin-top: auto;
}

// Start Archives Sass

.archive-gallery {
  @include column(1*0.25, $cycle: 4);
  // position: relative;
  text-decoration: none;

  .archives-link {
    display: inline-block;
    position: relative;

    &::after {
      -webkit-transition: width .35s ease;
      background: $link-hover;
      content: '';
      display: block;
      height: 3px;
      margin-top: 3px;
      position: absolute;
      right: 0;
      transition: width .35s ease;
      width: 0;
    }
  }

  &:hover {

    .archives-link {
      color: $link-hover;

      &::after {
        background: $link-hover;
        left: 0;
        width: 100%;
      }
    }
  }
}

.archives-img{
  margin-bottom: 1.5rem;
}

//
// &:hover{
//   H5 {
//     &:hover {
//       color: $link-hover;
//
//       &::after {
//         background: $link-hover;
//         left: 0;
//         width: 100%;
//       }
//     }
//
//     &::after {
//       -webkit-transition: width .35s ease;
//       background: $link-hover;
//       content: '';
//       display: block;
//       height: 3px;
//       margin-top: 3px;
//       position: absolute;
//       right: 0;
//       transition: width .35s ease;
//       width: 0;
//     }
//   }
// }
