// Home page stylings

.front-page {
  @include center(125vw);
  // @include align(horizontal);
  // width: 125vw;
  // position: relative;
  // margin-left: -105px;

}

.cards {

  img {
    // display: block;
    // height: auto;
    // margin-bottom: 1.5em;
    max-width: 100%;
  }
}

// .img-space {
// }

%both-cards {
  @include column(1/4);
  // position: absolute;
  // top: 65px;
  max-width: 44em;
}

.right-card {
  @extend %both-cards;
}

.left-card {
  @extend %both-cards;

  p {
    text-align: right;
  }
}

.home-0 {
  @include column(2/4);

  .identity {
    max-width: $main-column;
  }
}

// .front-page {
//   display: flex;
//   flex-direction: column;
//   height: 90vh;
// }
//
// .cards {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   // position: absolute;
//
//   margin-bottom: 0;
//   margin-left: 0;
//   margin-right: auto;
//   margin-top: auto;
//
//   img {
//     display: block;
//     height: auto;
//     margin-bottom: 1.5em;
//     max-width: 100%;
//   }
// }
//
// // .img-space {
// // }
//
// %both-cards {
//   // position: absolute;
//   // top: 65px;
//   max-width: 44em;
// }
//
// .right-card {
//   @extend %both-cards;
//   // margin-left: 25vw; //pushes center
//   // margin-right: -30vw; //pulls towards edge
//   // right: 0;
// }
//
// .left-card {
//   @extend %both-cards;
//   // margin-left: -25vw; //pulls towards edge
//   // margin-right: 25vw; //pushes center
//   // left: 0;
//
//   p {
//     text-align: right;
//   }
// }
//
// .home-0 {
//   // display: flex;
//   // flex-direction: column;
//   // height: 90vh;
//   max-width: $main-column;
//   padding: 0 25em 0px 25em;
//   // margin: 0 25em 0 25em; //top right bottom left
//
//   .identity {
//     margin-bottom: 50%;
//     margin-left: 0;
//     margin-right: auto;
//     margin-top: auto;
//   }
// }

.home-1 {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.identity {
  @include ms-respond(font-size, 3);
  font-family: $serif-font;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 4%;
  margin-left: 6%;
  margin-right: auto;
  margin-top: auto;
}

.tagline {
  font-style: normal;
  font-weight: 300;
}

// scroll-arrow
.arrow {
  @include center;
  border-bottom: 3px solid $off-black;
  border-left: 3px solid $off-black;
  box-sizing: border-box;
  height: 25px;
  margin-bottom: 25px;
  margin-top: auto;
  opacity: 1;
  transform: rotate(-45deg);
  width: 25px;

}

.fade {
  opacity: 0;
  transition: all .5s ease;
 }

.home-2 {
  height: 80vh;
}

.home-3 {
  height: 77vh;
}
