.photo-text {
  @include ms-respond(margin-bottom, 3.2);
  margin-bottom: vr(3.5); // 1.5 baselines (base font size * line-height)
}

.writing-list {
  .list-item {
    @include ms-respond(margin-bottom, 5);

    p {
      color: $dark-gray;
    }
  }

  h6 {
    @include ms-respond(margin-bottom, -4.5);
  }

  a {
    // color: $off-black;
    position: relative;
    text-decoration: none;

    &:hover {
      color: $link-hover;

      &::after {
        background: $link-hover;
        left: 0;
        width: 100%;
      }
    }

    &::after {
      -webkit-transition: width .35s ease;
      background: $link-hover;
      content: '';
      display: block;
      height: 3px;
      margin-top: 3px;
      position: absolute;
      right: 0;
      transition: width .35s ease;
      width: 0;
    }
  }

  .text {

    a {
      color: $dark-gray;

      &:hover {
        color: $link-hover;
      }
    }
  }
}
