.project {
  img {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));

    &.no-shadow {
      filter: none;
    }
  }

  .full-width + .main-column p.caption {
    margin-top: vr(-2.6);
  }

  p + h6 {
    margin-top: vr(3);
  }

  .caption {
    margin-top: vr(-2.6);
  }
}

.font-base-fix {
  font-size: 16px;
}

.team {
  text-transform: initial;
}


.prev-next {
  @extend %heading-type;
  @include center;
  @include ms-respond(font-size, -1);
  padding-bottom: 2em;
  padding-top: 4.5em;
  text-decoration: none;
  width: fit-content;

  a {
    color: $off-black;
    text-decoration: none;
  }

  .prev {
    // @include ms-respond(margin-right, 6);
    margin-right: 4em;
  }

  .next {
    // @include ms-respond(margin-left, 6);
    margin-left: 4em;
  }
}
