// nav + footer tiny details
.nav-name {
  float: left;
  margin-left: 65px;
  margin-top: -23px;

  a {
    font-size: ms(.2);
    font-weight: 700;
    letter-spacing: 1.7px;
  }
}

.footer {
  a {
    color: $light-gray;
  }

  &:hover {
    color: $link-hover;
  }
}

.copyright {
  float: right;
  font-size: ms(-1.6);
}

// core of the site

.main-page {
  padding-top: 1em;
}
