/* My CSS changes on Bootstrap*/

body {
    padding-top: 5%;
}

.navbar-brand { 
    font-weight: 800;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    display: none;
}

.navbar-collapse.collapse {
  display: block!important;
}

@media screen and (min-width: 320px) {
.navbar-nav>li, .navbar-nav {
  float: left !important;
  padding: 0 0 0 16px;
}
}
.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}


div h1 {
    font-style: italic;
}

#bootstrap-overrides .page-header {
    border-bottom: 0px;
}


/*
#dribbble  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#dribbble li {
    float: left;
    padding: 1px;
    
}


.shots li a:hover {
    background-color: #111111;
}
*/

  #dribbble {
        text-align: center;
        list-style-type: none;
        display: inline-block;
        margin: auto;
        /* For IE, the outcast*/ 
        zoom:1;
        display: inline;
    }

#dribbble li {
        float: left;
        padding: 5px 5px;
    }

.footer {
   padding: 0 0 0 14px ;
   background-color: black;
}

.footer h1 {
    color: #ffffff;
    
}

.smallft { 
color: #bababa
}

.page-header h1{
    margin: -25px 0px -15px 0px;
}
