/* Base css */

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
    
}

p  {
    color: #444444;
    font-weight: 300;
    font-size : 20px;
    line-height : 1.3em;
}

img {
    width: 100%;
    display: block;
}

.foreword p {
    font-size: 20px;
    font-size : 18pt;
    line-height : 1.3em;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.nav-spacing {
    margin-top:  6rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #444444;
}

.divider {
    font-weight: 500;
/*    font-size: 25px;*/
    font-size: 2.23613595706619vw;
    color: #737373;
}


/* /home css */

h1 {
    margin-bottom: -2rem;
    margin-left: -0.06em;
/*    font-size: 120px;    */
    font-size: 10vw;
    font-weight: 500;
}


.intro {
    font-size: 24px;
    font-size : 20pt;
    line-height : 1.3em;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.me-img {
    margin-bottom: 3rem;
}


/*  /design css   */

.design-img img {
    margin-bottom: 1rem;
}

.design-img img:hover {
/*    box-shadow: 10px 5px 5px black;
    also make is slightly bigger?
    */
    
}

.design-card hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 2px solid #E8E8E8;
}

.project-type{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-size: 32px;
}

.project-name {
    font-size: 22px;
    margin-bottom: 2rem;
}

.design-content {
    margin-bottom: -2rem;
}

/*  /projects css  */

.back-arrow {
    width: 15px;
    fill: #737373;
    margin-top: 4px;
    margin-left: 1px;
}

.back-arrow:hover {
    fill: #444444;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    width: 200px;
}

#nav-title {
    font-size: 32px;
/*    color: #73;*/
}

    /*  nav colors  */

#proj-nav-color .project-nav-color-light {
    fill: #ffffff;
    color: #ffffff;
}


#proj-nav-color .project-nav-color-dark {
    fill: #737373;
    color: #737373;
}

    /*  nav color hover states  */

#proj-nav-color a:hover .project-nav-color-light {
    fill: #e6e6e6;
    color: #e6e6e6;
}

#proj-nav-color .project-nav-color-light:hover {
    color: #e6e6e6;
}

#proj-nav-color a:hover .project-nav-color-dark {
    fill: #444444;

}

#proj-nav-color .project-nav-color-dark:hover {
    color: #444444;
}

.project-hero {
    width: 100vw;
    max-height: 45vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;    
}

.project-title {
    font-size: 32px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.project-date {
    font-weight: 300;
    font-size: 20px;
}


/*  /journal css  */

.journal {
  margin-bottom: 3rem;
}

.journal-title {
    font-size: 48px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.journal-month {
    font-weight: 300;
    font-size: 24px;
}

.journal-day {
    font-weight: 400;
}

.journal-text {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 2px;
}

/*  TIL css */

.things-toggle-active {
    font-size: 48px;
    font-weight: 500;
}

.things-toggle {
    font-weight: 300;
    font-size: 30px;
}

.things-toggle a {
    text-decoration-line: none;
    color: #444444;
}

.things {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.foreword-til {
    font-size: 20px;
    font-size : 18pt;
    line-height : 1.3em;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.foreword hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 2px solid #E8E8E8;
}

.love-list {
    font-size : 26px;
    line-height: 1.3em;
    font-weight: 300;
    margin-bottom: .2rem;
    list-style-type: decimal-leading-zero;
}

.love-list li {
    margin-bottom: .5rem;
}

/*  /things-ive-learned css  */

.things {

}

.thing-category {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.thing-text {
    list-style-type: none;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-left: 2px;
    
}

.thing-text:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}

.knowledge {
    margin-bottom: 2rem;
}

/*  /404 page  */

.fourohfour {
    font-size: 150px;
    margin-bottom: .5rem;
}

/* Start Nav and Footer CSS */

.navbar-light .navbar-nav .nav-link {
    text-decoration-line: none;
    color: #737373;
    font-size: 24px;
    font-weight: 400;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #444444;
    font-weight: 500;
}

.bg-light {
    background-color: #ffffff!important;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: .05rem;
    padding-left: .05rem;
}

.navbar-expand>.container, .navbar-expand>.container-fluid {
    padding-right: 2px;
}

.hr-footer {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-top: 2px solid #737373;
}

.footer {
    padding-bottom: 10px;
}

.footer .navbar {
    padding: .5rem 0rem;
}

.footer .container-fluid .col {
/*    padding-right: 0px; */
    padding-left: 0px;
    margin-top: -3px;
}

.footer .navbar-light .navbar-nav .nav-link {
    font-size: 1.9677996422182469vw;
    font-weight: 300;
}

.footer .navbar-light .navbar-nav .active>.nav-link, .footer .navbar-light .navbar-nav .nav-link.active, .footer .navbar-light .navbar-nav .nav-link.show, .footer .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 400;
}

.footer-divider {
    font-weight: 300;
    font-size: 2vw;
    color: #737373;
}

.footer .copyright {
    text-align: center;
    color: #8d8d8d;
    padding-left: .5em;
    padding-right: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -6px;
}

.mobile-footer .navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 300;
}

.copyright a {
    color: #8d8d8d;
    text-decoration: none;
    border-bottom: 1.5px solid #8d8d8d;
}

.copyright a:hover {
    color: #444444;
    text-decoration: none;
    border-bottom: 1.5px solid #444444;
}

#desktop-footer {

}

.mobile-footer {
    display: none;
}

.mobile-footer .container-fluid {
     padding-right: 0px; 
     padding-left: 0px;
}

.mobile-footer .navbar {
    padding: 0rem;
    margin-bottom: 1rem;
}

/* Social Icons (in Footer) */

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social .footer {
    justify-content: space-between;
    display: flex;
    padding-right: 0px;
    padding-top: 7px;
}

.social-center {
    
}

.container-fluid {
    padding-right: 4px;

}

.social a{
    text-decoration-line: none;
    color: #737373;
    
}

.social svg {
    width: 42px;
}

.social a:hover .dribbble {
    fill: #ea4c89;
}

.social a:hover .github {
    fill: #4078c0;
}

.social a:hover .medium {
    fill: #000000;
}

.social a:hover .linkedin {
    fill: #0077b5;
}


/* Media Breaks */

/*  when width is less than x, do y  */

@media (max-width: 1200px)  { 

    
}

@media (max-width: 992px){
    .footer .copyright {
        font-size: 1.6vw;
    }
    
    .footer .navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    }
    
}

@media (max-width: 768px){
    #desktop-footer {
        display: none;
    }

    .mobile-footer {
        display: inherit;
    }
    
    .footer .copyright {
        font-size: 2vw;
    }
    
}


@media (max-width: 576px) {
    
    .project-date {
        display: table;
        margin-top: 0.5rem;
    }
    
    .project-hero{
        min-height: 60vw;
    }
    
    .footer .copyright {
        font-size: 2.6vw;
    }
    
}

/*  when width is greater than x, do y  */


@media (min-width: 576px){
    .container {
        max-width: 85%;}
    
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 85%;}
}


@media (min-width: 992px){
    .container {
        max-width: 85%;}
    
    .navbar a {
    font-size: 15px;}
}

@media (min-width: 1200px) 
    { 
    .container {
        max-width: 1118px;
        }
        
    .navbar a {
        font-size: 24px;
        }
        
    .navbar-expand>.container, .navbar-expand>.container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        }
        
    .container-fluid {
        padding-left: 0px;
        }
        
    h1 {
        font-size: 120px;
        }
        
    .divider, .footer-divider {
        font-size: 25px;    
        }
        
    .footer .navbar-light .navbar-nav .nav-link {
        font-size: 22px;
}
    
}