<!doctype html>
<html>
    {% include head.html %}
  <body>
    <div class="border">
      {% include navigation.html %}
      <div class="main-page">
        <!-- <div class="wide-column">
          <h3>_{{ page.title }}</h3>
        </div> -->
          {{ content }}
      </div>
      {% include footer.html %}
    </div>

    {% if page.js %}
      <script>
        {{ page.js }}
      </script>
    {% endif %}

    {% if page.js-file %}
      <script src="{{ page.js-file }}"></script>
    {% endif %}
  </body>
</html>
