---
layout: default
title: Home
---
<div class="jeet-columns">
    <div class="left-card">
      <div class="left-offset">
        <a href="/design"><img src="{{ page.design-thumb }}"/></a>
          <p><a href="/design">_Design</a></p>
      </div>
    </div>

  <div class="home-column">
    <div class="home-1">
      <h1 class="identity">{{ page.identity }} <span class="tagline">{{ page.tagline }}</span></h1>
      <section class="arrow">
      </section>
    </div>

    <div class="home-2">
      <p id="bio">
        {{ content }}
      </p>
    </div>

    <div class="home-3">
      <img src="{{ page.photo }}"/>
      <p class="caption">{{page.caption}}</p>
    </div>
  </div>

  <div class="right-card">
    <div class="right-offset">
      <a href="/photo"><img src="{{ page.photo-thumb }}"/></a>
      <p><a href="/photo">_Photo</a></p>
    </div>
  </div>
</div>
